.sign-in-btn{
  color: white;
  border: none;
  padding: 10px 25px 10px 25px;
  background-color: #3b7844;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}
.sign-in-btn:hover{
  background-color: rgb(59,120,68,.3);
}